<?xml version="1.0"?>
<config>
	<modules>
		<Ikantam_KnowledgeBase>
			<version>1.0.2</version>
		</Ikantam_KnowledgeBase>
	</modules>
	<global>
	
		<sales>
			<quote>
				<item>
					<product_attributes>
						<column1 />
						<column2 />
						<column3 />
					</product_attributes>
				</item>
			</quote>
		</sales>
		<blocks>
			<ikantamknowledgebase>
				<class>Ikantam_KnowledgeBase_Block</class>
			</ikantamknowledgebase>
		</blocks>
		<helpers>
			<ikantamknowledgebase>
				<class>Ikantam_KnowledgeBase_Helper</class>
			</ikantamknowledgebase>
		</helpers>
		<resources>
			<ikantamknowledgebase_setup>
				<setup>
					<module>Ikantam_KnowledgeBase</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ikantamknowledgebase_setup>
			<ikantamknowledgebase_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ikantamknowledgebase_write>
			<ikantamknowledgebase_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ikantamknowledgebase_read>
		</resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ikantamknowledgebase before="Mage_Adminhtml">Ikantam_KnowledgeBase_Adminhtml</ikantamknowledgebase>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
				<ikantamknowledgebase>
					<files>
						<default>Ikantam_KnowledgeBase.csv</default>
					</files>
				</ikantamknowledgebase>
			</modules>
		</translate>
        <menu>
            <sales>
                <children>
                    <order_items translate="title" module="ikantamknowledgebase">
                        <title>Order Items</title>
                        <sort_order>11</sort_order>
                        <action>adminhtml/order_items/index</action>
                    </order_items>
                </children>
            </sales>
        </menu>
        <layout>
			<updates>
				<ikantamknowledgebase>
					<file>ikantamknowledgebase.xml</file>
				</ikantamknowledgebase>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ikantamknowledgebase>
											<title>Sales Order Items Grid</title>
										</ikantamknowledgebase>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <default>
        <ikantamknowledgebase>
            <columns>
                <showsstatus>1</showsstatus>
                <showbillingname>1</showbillingname>
                <showshippingname>1</showshippingname>
                <showqtyordered>1</showqtyordered>
                <showqtycancelled>1</showqtycancelled>
                <showqtyshipped>1</showqtyshipped>
                <showqtyrefounded>1</showqtyrefounded>
                <showqtybackordered>0</showqtybackordered>
                <showqtylive>1</showqtylive>
            </columns>
            <extracolumns>
                <showextracolumn1>1</showextracolumn1>
                <showextracolumn2>1</showextracolumn2>
                <showextracolumn3>1</showextracolumn3>
            </extracolumns>
            <defaults>
                <limit>50</limit>
                <page>1</page>
            </defaults>
        </ikantamknowledgebase>
    </default>
</config>
