<?xml version="1.0"?>
<config>
	<modules>
		<Rofra_Salesorderitemgrid>
			<version>1.0.2</version>
		</Rofra_Salesorderitemgrid>
	</modules>
	<global>
	
		<sales>
			<quote>
				<item>
					<product_attributes>
						<column1 />
						<column2 />
						<column3 />
					</product_attributes>
				</item>
			</quote>
		</sales>
		<blocks>
			<salesorderitemgrid>
				<class>Rofra_Salesorderitemgrid_Block</class>
			</salesorderitemgrid>
		</blocks>
		<helpers>
			<salesorderitemgrid>
				<class>Rofra_Salesorderitemgrid_Helper</class>
			</salesorderitemgrid>
		</helpers>
		<resources>
			<salesorderitemgrid_setup>
				<setup>
					<module>Rofra_Salesorderitemgrid</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</salesorderitemgrid_setup>
			<salesorderitemgrid_write>
				<connection>
					<use>core_write</use>
				</connection>
			</salesorderitemgrid_write>
			<salesorderitemgrid_read>
				<connection>
					<use>core_read</use>
				</connection>
			</salesorderitemgrid_read>
		</resources>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <salesorderitemgrid before="Mage_Adminhtml">Rofra_Salesorderitemgrid_Adminhtml</salesorderitemgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
				<salesorderitemgrid>
					<files>
						<default>Rofra_Salesorderitemgrid.csv</default>
					</files>
				</salesorderitemgrid>
			</modules>
		</translate>
        <menu>
            <sales>
                <children>
                    <order_items translate="title" module="salesorderitemgrid">
                        <title>Order Items</title>
                        <sort_order>11</sort_order>
                        <action>adminhtml/order_items/index</action>
                    </order_items>
                </children>
            </sales>
        </menu>
        <layout>
			<updates>
				<salesorderitemgrid>
					<file>salesorderitemgrid.xml</file>
				</salesorderitemgrid>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<salesorderitemgrid>
											<title>Sales Order Items Grid</title>
										</salesorderitemgrid>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <default>
        <salesorderitemgrid>
            <columns>
                <showsstatus>1</showsstatus>
                <showbillingname>1</showbillingname>
                <showshippingname>1</showshippingname>
                <showqtyordered>1</showqtyordered>
                <showqtycancelled>1</showqtycancelled>
                <showqtyshipped>1</showqtyshipped>
                <showqtyrefounded>1</showqtyrefounded>
                <showqtybackordered>0</showqtybackordered>
                <showqtylive>1</showqtylive>
            </columns>
            <extracolumns>
                <showextracolumn1>1</showextracolumn1>
                <showextracolumn2>1</showextracolumn2>
                <showextracolumn3>1</showextracolumn3>
            </extracolumns>
            <defaults>
                <limit>50</limit>
                <page>1</page>
            </defaults>
        </salesorderitemgrid>
    </default>
</config>
